.login {

    background-image: url("../images/bg/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;

    // min-height: 100vh;
    // height:100%;

   &__container {

        width: 66.66666666666667%;
        margin-top:190px;
        left:50%;
        transform:translate(-50%,0%);
        position: relative;
        min-height: 100vh;

        @media (max-width: 1366px) {
            width: 80%;
        }

        @media (min-width:320px) and (max-width:768px) {

            width: 100% !important;
            transform:translate(0%,0%) !important;
            left:0px !important;
            top:140px !important;
        }

        input[type=text], input[type=password], input[type=email], select {

            margin-bottom:30px !important;
           

        }
        
   }

   &__form {
        margin: 0 auto;
        border: 0 none;
        padding: 0;
        position: relative;

        display: table !important;
        table-layout: fixed;

        @media (min-width:320px) and (max-width:768px) {
            display: block;
        }
   }

   &__left {

        background-color: $white;
        padding:60px;
        min-height: 500px;

        display: table-cell;
        width: 50%;
        height: 100%;

        @media (min-width:320px) and (max-width:768px) {
            display: block;
            width: 100%;
        }
   }
   &__right {
       background-color:rgba(0,0,0,0.5);
       padding:70px;
       color: $white;
       min-height: 500px;
       height: 100%;

       display: table-cell;
       width: 50%;

        @media (min-width:320px) and (max-width:768px) {
            display: block;
            width: 100%;
        }
   }
}

.register {

    background-image: url("../images/bg/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    min-height:100vh;


    &__container {

        width: 66.66666666666667%;
        margin-top:190px;
        left:50%;
        transform:translate(-50%,0%);
        position: relative;
        margin-bottom:50px;
        background-color:rgba(255,255,255,0.8);
        padding:70px;

        

        @media (min-width:320px) and (max-width:768px) {
           
            transform:translate(0%,0%) !important;
            width: 100% !important;
            left: 0px !important;
            top:140px !important;	
            padding:20px;
            position: relative !important;
            background-color: #d8d8d8;
        }
   }

   &__right {
       padding-left:70px;

       @media (min-width:320px) and (max-width:768px) {

        padding-left:0px !important;
       }
   }

}


.account {

    &__container {

        width: 100%;
        background-color:$white;
        position: absolute;
        top:0px;
        /*height: 100vh;*/
        min-height: 100%;
        z-index: 1;
        padding-top:140px;
        overflow:hidden;
        
        
    }

    &__image {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }

    &__red-line {

        position: absolute;
        right:-25px;
        top:50%;
        transform:translate(-50%, -50%);


    }

    &__left {

        background-color: $greyC;
        height:90vh;
    }

    &__right {

        padding:100px 200px;
    }
}

.insights {

    &__container {

        width: 100%;
        background-color:$white;
        position: absolute;
        top:0px;
        /*height: 100vh;*/
        min-height: 100%;
        z-index: 1;
        padding-top:140px;

        
        
    }

    &__red-line {

        position: absolute;
        right:-25px;
        top:50%;
        z-index: 6;
        transform:translate(-50%, -50%);

        @media (min-width:320px) and (max-width:768px) {

            display:none;
        }
    }

    &__image {
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:90vh;

        @media (max-width:1400px) {
            height: 100vh !important;
        }
    }

    &__triangles {
        position: absolute;
        bottom:80px;
        left: 0px;
        z-index: 5;
    }

    &__grey {

        position: absolute;
        background-color: $lightGrey;
        top: 56.5%;
        left:0px;
        width:50%;
        height:80%;
        transform:translate(0%,-50%);
        z-index: 5;

    }

    &__left {

        background-color: $greyC;
        height:90vh;

        @media (min-width:320px) and (max-width:768px) {
           height: 100vh !important;
           overflow-x: hidden;
           width: 100% !important;
        }
    }

    &__right {

        padding:160px 200px 130px 200px;

        @media (max-width:1400px) {
            padding:100px 70px  50px 70px;
        }

        @media (min-width:320px) and (max-width:768px) {
            padding:20px;
        }

        &--inner {
            z-index: 6;
            position: relative;
        }
    }
}

.about {

    &__container {

        background-image: url("../images/bg/bg-about.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        z-index: 10;
        position: relative;
        min-height:100vh;
        padding:200px 0px 25px 0px !important;

        @media (max-width:1400px) {
            padding:167px 0px 0px 0px !important;
        }

        @media (min-width:320px) and (max-width:768px) {
            background-color: #d8d8d8;
        }
        

        &--inner {
           
            margin-left:125px;

            @media (min-width:320px) and (max-width:768px) {

                margin-left:20px !important;
                margin-right:20px !important;

            }
            
        }
    }
}

.snapshot {
    width: 100%;
    /*height: 100vh;*/
    min-height: 100%;
    background-color: $white;
    position: absolute;
    left: 0px;
    top: 0px;
    padding:250px 120px 25px 120px;

    @media (min-width:320px) and (max-width:768px) {

        padding:20px !important;
        top:141px !important; 
    }

    &__item {

        padding:0px 0px 50px 0px;

        @media (max-width:1400px) {
            padding:0px 10px 50px 0px;
        }

        h2 {
            font-size: 35px;
            font-family:'gbold';
            text-transform: uppercase;
            position: relative;
            margin-bottom:50px !important;
            z-index: 2;

            
        }
        h2::before {

            content:url('../images/svg/SVG - Underline.svg');
            position: absolute;
            left:0px;
            bottom:-20px;
            z-index: -1;    
        }
    }
}

.cases {

    width: 100%;
    background-color:$darkGrey;
    position: absolute;
    top:0px;
    /*height:100vh;*/
    min-height: 100%;
    z-index: 1;
    padding:250px 120px 25px 120px;

    &__item {
        padding:0px 10px 50px 0px;
    }
    
    @media (max-width:1400px) {
        height:auto !important;

        &__item {
            padding:0px 10px 0px 0px;
        }
    }

    @media (min-width:320px) and (max-width:768px) {

        padding:20px !important;
        top:141px !important; 
        height:auto !important;
    }
    

    p {
        color:#ebe6e0;
    }
    h2 {
        color:$white;
        font-size: 35px;
        font-family:'gbold';
        text-transform: uppercase;
        position: relative;
        margin-bottom:20px !important;
        z-index: 2;
    }
}

.barometer {

    width: 100%;
    background-color:$white;
    position: absolute;
    top:0px;
    /*height: 100vh;*/
    min-height: 100%;
    z-index: 1;
    padding:250px 120px 25px 120px;

    @media (min-width:320px) and (max-width:768px) {

        padding:20px !important;
        top:141px !important; 
        height:auto !important;
    }

    &__items {
        width:100%;
        padding-top:50px;
        overflow: hidden;
    }

    &__threat {
        float:left;
        position: relative;
        
        h1 {
            text-transform: uppercase;
            text-align: center;
            padding-top:30px;
            font-size: 34px;
            color:#3b3a3a;
        }

        &--low {

        }
        &--medium {
            h1 {
                color:$lightGrey2;
            }
        }
        &--high {
            h1 {
                color:$red;
            }
        }
    }

    &__threats {

        width: 100%;

    }

    &__item {
        width:20%;
        float:left;
        border-right:1px solid $lighestGrey;
        padding:0px 25px;
        margin-bottom:125px;

        @media (min-width:320px) and (max-width:768px) {
            width: 100%;
            margin-bottom:20px;
            border-right:0px solid $lighestGrey;
        }

        &:last-child {
            border-right:0px solid red;
        }

        h2 {
            text-transform: uppercase;
            border-bottom:5px solid $greyC;
            min-height:70px;
            margin-bottom:20px !important;
            display:block;
            position: relative;

            @media (max-width:1400px) {
                font-size: 20px;
            }
            
        }

        p {
            padding-right: 0 !important;
           
        }

        @media (max-width:1400px) {
            p {
                font-size: 14px !important;
                line-height: 28px !important;
            }
        }
        
        
        h2.red {
            border-bottom:5px solid $red;
        }
        h2.grey {
            border-bottom: 5px solid $lightGrey2;
        }
    }

    &__graph {
        width: 100%;
        padding-top:50px;
        overflow: hidden;

        &--slice {
            width:20%;
            float:left;
            /*height:11px;
            background-color: $bottomGraphGrey;*/
            height: 0px;
            border-bottom-width: 11px;
            border-bottom-style: solid;
            border-bottom-color: $bottomGraphGrey;
        }
        &--slice.red {
            /*background-color: $red;*/
            border-bottom-color: $red;
        }
        &--slice.grey {
            /*background-color: $lightGrey2;*/
            border-bottom-color: $lightGrey2;
        }

    }
}

#signup {
    position: relative;
    bottom:0px;
    /*margin-top:22px;*/
    margin-top: 5px;
}
#industry__nav {

    position: relative;
    bottom:0px;

}
.about-gfx {

    position: absolute;
    right:0px;
    top:50%;
    transform:translate(0%,-50%);
    overflow:hidden;
    z-index: 10;;

    img {
        display:block;
        margin-left:50px;
        position: relative;
        width:370px;
        left:30px;

        @media (max-width:1400px) {
            width: 250px !important;
        }
    }
}

.filter-groups {
    background-color:$lightGrey2;
    
    text-transform: capitalize;
    color:$white;
    font-family: 'gbook';
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 11;
    display:inline-block;
    z-index:11;
    /*width: 100%;*/
    width: auto;
    height: 0px;
    /*overflow: hidden;*/
    overflow-y: auto;
    text-align: left;
    // display:none;

}
.filter-group {
    cursor: pointer;
    padding: 3px 12px;
    text-align: left;
    border-bottom:1px solid rgba(255,255,255,0.3);
    position: relative;
    font-size:12px !important;
    display:block;
    line-height:29px;

    a {
        text-decoration: none;
        color: $white;
        position: relative;
        z-index: 1000;
        white-space: nowrap;
    }
}
.filter-group:hover {
    background-color: $greyC;;
    font-family:'gbold';

    a, a:active, a:focus {
        color: $white;
        text-decoration: none;
    }
}
.btn-down {
    position: absolute;
    display: block;
    right: 33px;
    top: 17px;
    width: 7px;

    img {
        max-width: 100%;
    }

}

.btn__snapshot {
    width: 100%;
    z-index: 12;
    position: relative;
    background-color:$lightGrey2;
    padding:18px 40px;   

    @media screen and (max-width: 768px){
        padding: 30px 30px;
        line-height: normal;
    }
}

#snapshotfilter {
    position: relative;
}
.btn__search {
    color: $white;
    font-size: 35px !important;

}
.pg__cases {
    input[type=text] {
        font-family: 'gbold' !important;
        font-size: 35px !important;
        color:$lightGrey2 !important;
        border-bottom:5px solid $greenBlue;

    }
}

h1.industrydisplay {
    padding: 0 0 15px;
    display: none;
}