.description {

    &__container {
       padding:0px 30px;
    }

    &__header {

        &--back {
            float:left;
        }
        &--category {
            float:left;
            font-family: 'gbook';
            font-size: 12px;
            padding:7px 0px 0px 15px;

            a {
                text-decoration: none !important;
                color:$black;
            }
        }
    }

    &__main {
        padding:40px 0px;

        &--profile {

            padding:55px 0px 0px 0px;
            font-size: 18px;
            font-family:'gbook';
            line-height: 35px;
        }

        &--contact-address, &--contact-info {
            padding:50px 80px !important;
            
        }

        &--graphs {

            h4 {
                font-family: 'gbook' !important;
                font-size: 15px !important;
                text-transform: uppercase;
            }
        }

        &--bar {
            background-color: #f5efe9;
            width: 100%;
            height: 23px;
            position: relative;
            margin:10px 0px;

            &-inner {
                background-color: #de463b;
                position: absolute;
                
                height:23px;
            }
        }

        #qse .description__main--bar-inner {
            width:35%;
        }

        #employess .description__main--bar-inner {
            width:5%;
        }

        #clients .description__main--bar-inner {
            width:15%;
        }

        &--right {
            padding:0px 0px 0px 40px;

            @media (min-width:320px) and (max-width:768px) {
                padding:0px !important; 
            }

            h1 {
                font-size: 35px;
                font-family: 'gbold';
                text-transform: uppercase;
            }

            &-graphs {
                padding:75px 0px 0px 0px;
            }
        }
    }

    &__logo {

        &--business {
             position: absolute;
             bottom:66px;
             left:10px;
             z-index: 2;
        }
    }

    &__main {

        &--image {
            z-index: 1;
        }
    }

    &__badge {
        position: absolute;
        bottom:44px;
        right:0px;
        width:184px;
        height:66px;
        background-position: cover;
        background-repeat: no-repeat; 
        z-index: 2;

        &--youth {
            background-image: url("../img/svg/youth.svg");
           
        }

        &--woman {
            background-image: url("../img/svg/female.svg");
        }
    }

}

.icon_desc {
    width:25px;
    text-align: center;
    
    display:inline-block;
    margin:0 auto;

}
.icon-holder {
    position: relative;
    height: 40px;
    display:block;
    text-align: center;
}