@mixin include-font($class, $fileName) {

    @font-face {
        font-family: $class;
        src: url("../fonts/"+$fileName+".eot?#iefix") format('embedded-opentype'),
             url("../fonts/"+$fileName+".ttf") format('truetype'),
             url("../fonts/"+$fileName+".woff") format('woff'),
             url("../fonts/"+$fileName+".svg") format('svg');
    }
}