.navbar {


    position: absolute !important;
    width: 100%;
    padding-left:130px;
    z-index: 10000;
    position: relative;

    &-collapse {

        width: 100%;    
        @media (min-width:320px) and (max-width:768px) {

            border-bottom: 1px solid $greyC;
            position: absolute;
            left: 0px;
            top: 138px;
            width: 100%;
            background-color: white;
            z-index: 100;

            .nav-item {
                width:100%;
                padding:10px 20px;
            }

        }
       
            

            
        
    }

    &-toggle {
        
        border: 2px solid $greyC !important;
        top: 50%;
        margin-top:0px !important;
        transform: translate(0%,-50%);

        .icon-bar {
            color:$greyC !important;
            background-color: $greyC !important;
        }
    }

    &__container {
        background-color: rgba(277,277,277,0.3);
        height: 140px;
        position: relative;
        z-index: 20;
        // border:1px solid red;
    }

    &-brand {
        height: auto !important;
        padding:39px 65px !important;

        @media (min-width:320px) and (max-width:768px) {

            padding:0px 0px !important;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translate(0%,-50%);
        }
        
        img {
            min-width: 170px;
            height: 61px;
            max-height: 61px;

            @media screen and (max-width: 768px){
                max-width: 170px;
                min-width: auto;
                height: auto;
            }

        }
    }

    &-nav {
        list-style:none;
        padding: 50px 76px 0px 0px;

        @media (min-width:320px) and (max-width:768px) {

            margin: 0px !important;
            padding: 10px 0px 0px !important;
            width:100%;
        }
        

        &-item {
            position: relative;

            @media (min-width:320px) and (max-width:768px) {

                padding: 0px 0px 10px 15px !important;
                width: 100%;
            }
            
        }

        li {
            list-style-type: none;
            padding:0px 68px 0px 0px;
           
            display:inline-block;
            position: relative;

            

            a {
                color: $black;
                text-decoration: none;
                font-family: 'gbook';
                font-size: $fSizeNav;
                position: relative;

                

            }
            a::before {
                content: "";
                position: absolute;
                display:inline-block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #000;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }
            a:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
        }
    }
}
#navbarMobi2 {
    width:100% !important;
}
.navbar2 {
    position: absolute;
    top:140px;
    width:100%;
    padding:0px 120px;
    height: auto !important;
    background-color: rgba(54,54,54,0.5);

    @media (min-width:320px) and (max-width:768px) {

        background-color: $white;
        display:none !important;
        padding:0px 0px;
    }

    .navbar-nav {
        width: 100% !important;
        padding: 0px 76px 0px 0px !important;
    }

    .navbar-nav li a::before {
        content: "";
        position: absolute;
        display:inline-block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,0.5) !important;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .nav-item:hover {
        background-color: rgba(54,54,54,0.8);
    }

    .nav-item.active {
        background-color: rgba(96,151,156,0.5) !important;

         a {
            color:$white;
        }
    }

    .nav-item {
        width:20% !important;
        text-align: center;
        display:block;
        position: relative;
        padding:18px 0px;

        @media (max-width:1400px) {
            padding: 23px 6px;
        }

        a {
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px !important;
            color: rgba(255,255,255,0.5);
            font-family:'gmedium';

            @media (max-width:1400px) {
                font-size: 10px !important;
            }
        }
        a.active  {}

        a::before {
           
          }
        a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }

    }
}