@include include-font('gbold', 'Gotham-Bold');
@include include-font('gbook', 'Gotham-Book');
@include include-font('gmedium','Gotham-Medium');

.gbook {
    font-family: 'gbook';
}
.gmedium {
    font-family: 'gmedium';
}

html, body {
    margin:0px;
    padding:0px;
    font-family: 'gbook';
    height:100%;
}

body, html, p {
    font-family:'gbook';
    font-size: 15px !important;
    line-height: 25px !important;
}
h1, h2, h3, h4 {
    font-family: 'gbold' !important;
    margin-top:0px !important; margin-bottom:0px !important;

}

h1 { }
h2 {}
h3 {}
h4 {}
h5 {}

input[type=text], input[type=password], input[type=email] {

    width:100%;
    border:none;
    border-bottom:1px solid $greyC;
    font-family:'gbook';
    font-size: 18px;
    padding:18px 15px;
   
    background:none;
}

select {
    width:100%;
    border:none;
    border-bottom:1px solid $greyC;
    font-family:'gbook' !important;
    font-size: 18px !important;
    padding:24px 15px;
    background:none;
}

p {
    font-size: 13px;
    line-height:20px;
    padding-right: 30px;
    text-align: left;
}


h4 {
    font-size: 20px !important;
}
