.img {
    
    &__login {
        max-width: 100%;
        width:210px;
    }
    &__about {
        max-width: 100%;
        width:370px;
    }

    &__signup {
        max-width:100%;
        width:276px;
    }
    &__insights {
        max-width:100%;
        width:170px;
    }
    &__snapshot {
        max-width: 100%;
        width:592px;
    }
    &__cases {
        max-width: 100%;
        width:222px;
    }
    &__bar {
        max-width: 100%;
        width:435px; 
    }
    &__best {
        max-width: 100%;
        width:380px; 
    }
}

