$white : #ffffff;
$black : #000000;
$green : green;
$greenBlue : #5bbec8;
$sideNavBg : #363636;
$lightGrey : #f5f5f5;
$lightGrey2 : #7d7b7b;
$lighestGrey : #d1d1d1;
$sideNavLinks : #f5f0e9;
$bottomGraphGrey : #3b3a3a;
$whiteLineColor : #eaeaea;
$greyC : #333333;
$orange : #de463b;
$txtGrey : #333333;
$fSizeNav : 17px;
$fSizeH1 : 66px;
$fSizeHsmall : 15px;
$fSizeSideNavHdr : 18px;
$bgBtnGrey : #333333;
$darkGrey : #3b3b3b;
$red : #e3493e;



@import 'fonts.scss';
@import 'html.scss';
@import 'header.scss';
@import 'content.scss';
@import 'override.scss';
@import 'description.scss';
@import 'images.scss';

.tr {
    text-align: right;
}
.img {
    max-width: 100%;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.z98 { z-index: 98; position: relative;}
.z99 { z-index: 99; position: relative;}

.no-bullets {
    list-style:none;
    margin:0px;
    padding:0px;

    height: 55px;
    overflow: hidden;
    text-decoration: none;

    li a {
        text-decoration: none !important;
    }
    li a:hover, li a:visited, li a:active {
        color:$white !important;
    }

    li {
        list-style-type:none;
        padding:5px 0px;
    }
}

.btn {
    background:none;
    font-size: 14px;
    text-transform: uppercase;
    border:1px solid $black !important;
    top:0px;
    font-family:'gbold';
    border-radius:0px !important;

}

.background {
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0px;
    left: 0px;

    @media (max-width:1400px) {
        height:130vh;
    }

    @media (min-width:320px) and (max-width:768px) {
        
    }
}

.hide-desktop {

    display:none !important;

    @media (min-width:320px) and (max-width:768px) {
        display:block !important;
    }
}
/* bg wall papers */
#home {
    background-image: url("../images/bg/home.jpg");
}

#about {
    // background-image: url("../images/bg/bg-about.jpg");
}

.svg-login {
    width: 23.95833333333333%;
    position: absolute;
    bottom:0px;
    right:20%;
    z-index: 10;

    @media (max-width: 1400px ) {
        position:fixed;
        right:5%;
    }
}

.btn 
{
    &__grey {

        background-color: $greyC;
        color:$white;
        border:none;
        text-transform: uppercase;
        font-size: 13px;
        padding: 18px 40px;
        font-family:'gbold';
        
        @media screen and (max-width: 768px){
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    &__lightgrey {

        background-color:$lightGrey2;
        color:$white;
        border:none;
        text-transform: uppercase;
        font-size: 13px;
        padding: 18px 40px;
        font-family:'gbold';
        cursor: pointer;

        @media (min-width:320px) and (max-width:768px) {
            margin-right: 0px !important;
            display: block;
            width: 100%;
            text-align: left;
            /*line-height: normal;*/
        }
        @media (max-width:1400px) {
            margin-right: 0px !important;
        }

    
        &--nopad {
            padding:0px 0px !important;   
        }
    }

    &__white {

        background-color: $white;
        color:$black;
        border:none;
        text-transform: uppercase;
        font-size: 20px;
        padding:30px 62px;   
        font-family:'gbold';
    }
    &__trans {

        background-color:transparent;
        color:$black;
        border:none;
        text-transform: uppercase;
        font-size: 20px;
        padding:30px 62px;   
        font-family:'gbold';
        display: block;

        &:hover, &:focus, &:active {
            text-decoration: none;
            color: $black;
        }

        @media (min-width:320px) and (max-width:768px) {

            padding:20px;
        }
    }

    &__back-white {
        background-color: $white;
        color:$black;
        border:none;
        text-transform: uppercase;
        font-size: 20px;
        padding:30px 50px;   
        font-family:'gbold';
        display: inline-block;
        
        &:hover, &:focus, &:active {
            text-decoration: none;
            color: $black;
        }
    }
}
/* SPECIFIC CSS */
.pt140 { padding-top:140px;}
.pt70 { padding-top:70px;}
.pt35 { padding-top:35px;}
.pt30 { padding-top: 30px;}
.pt72 { padding-top:72px;
 
    @media (min-width:320px) and (max-width:768px) {
        padding-top: 0px !important;
    }

}
.tc { text-align: center;}
.tr { text-align: right;}
.ptlogin { padding-top:60px;}

@media print {
    #topnav, #sectionnav, #filterextractcontainer {display: none !important; visibility: hidden !important; opacity: 0 !important;}
    h1.industrydisplay {display: block;}

    .snapshot__item, .cases__item {height: auto !important;}
}