<div class="container-fluid about__container">
    <div class="about__container--inner">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="images/svg/v2/about.svg" class="img__about">
                    </div>
                    <div class="col-xs-12">
                        <p>IndSights is an online industry knowledge platform made available free of charge by the SAB Accelerator to all entrepreneurs, to empower you to make strategic decisions for your business.</p>
                        <p>Knowledge is one of the least spoken of although most prevalent challenge experienced by small businesses to be sustainable in South Africa. This includes knowing the regulations and standards linked to one’s industry, competition, as well as the latest innovation to remain relevant.</p>
                    </div>
                    <div class="col-xs-12"></div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>

</div>