<div id="sectionnav" class="container-fluid">
    <nav class="navbar2 navbar__container navbar-expand-lg">
       
         <!-- toggler -->
         <button class="navbar-toggle"
                 type="button"
                 data-toggle="collapse"
                 data-target="#navbarMobi2"
                 aria-controls="navbarSupportedContent" 
                 aria-expanded="false" 
                 aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
          </button>
          <!-- menu -->
          <div class="collapse navbar-collapse navbar-left" id="navbarMobi2">
              <ul class="navbar-nav">
                <li class="nav-item" ng-class="activeSet==1 ? 'active' : ''"><a class="nav-link" href="./indsight"> My Indsight of the week</a></li>
                <li class="nav-item" ng-class="activeSet==2 ? 'active' : ''"><a class="nav-link" href="./snapshot"> SNAPSHOT OF MY INDUSTRY</a></li>
                <!--<li class="nav-item" ng-class="activeSet==3 ? 'active' : ''"><a class="nav-link" href="./business-cases"> BUSINESS CASES</a></li>-->
                <li class="nav-item" ng-class="activeSet==4 ? 'active' : ''"><a class="nav-link" href="./barometer"> COMPETITION BAROMETER</a></li>
                <li class="nav-item" ng-class="activeSet==5 ? 'active' : ''"><a class="nav-link" href="./best-practices"> BEST PRACTICES</a></li>
              </ul>
          </div>
      </nav>
</div>