<!--<div class="login container-fluid" ng-init="calculateHeightLogin()">-->
<div class="login container-fluid">
    <div class="login__container">
        <div class="login__form">
        <!--<div class="row">
            <div class="col-md-6 col-xs-12">-->
                <!-- login-->
                <div class="login__left">
                    <form name="loginform" action="utility/login.php" method="POST">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="images/svg/v2/login.svg" class="img__login">
                            </div>
                            <div class="col-xs-12 ptlogin">
                                <input type="text" name="email" id="email" placeholder="Email address" required>
                            </div>
                            <div class="col-xs-12">
                                <input type="password" name="password" id="password" placeholder="Password" required>
                            </div>
                            <div class="col-xs-6 pt35">
                                <input type="submit" name="loginsubmit" value="Login" class="btn__grey">
                            </div>
                            <div class="col-xs-6"></div>
                        </div>
                    </form>
                </div>
            <!--</div>
            <div class="col-md-6 col-xs-12">-->
                <!-- not a member -->
                <div class="login__right">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="images/svg/v2/not-a-member.svg" alt="Not a member?" />
                        </div>
                        <!-- <div class="col-xs-12 pt30"> -->
                        <div class="col-xs-12">
                            <p>SIGN UP to IndSights today for free: Access important information on your industry to make informed decisions for your business. IndSights will provide you with an overview of legal, technological and other changes which may affect your business.</p>
                        </div>
                        <div class="col-xs-12">
                            <!--<button class="btn__white" style="cursor: pointer;" id="signup" onclick="window.location='./register'; return false;">Sign Up</button>-->
                            <a class="btn__white" id="signup" href="register" style="display: inline-block; text-decoration: none; color: #000000;">Sign Up</a>
                        </div>
                    </div>
                </div>
            <!--</div>
        </div>-->
        </div>
    </div>
</div>