<div class="container-fluid ">
    <nav class="navbar navbar__container navbar-expand-lg">
        <!-- logo -->
        <a class="navbar-brand" href="/"><img src="images/indsights-logo.svg" alt="IndSights" /></a>
       <!-- toggler -->
       <button class="navbar-toggle"
               type="button"
               data-toggle="collapse"
               data-target="#navbarMobi"
               aria-controls="navbarSupportedContent" 
               aria-expanded="false" 
               aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
        </button>
        <!-- menu -->
        <div class="collapse navbar-collapse navbar-left" id="navbarMobi">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="./about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="mailto:yonela.rozani@za.ab-inbev.com">Contact</a></li>
                <li class="nav-item hide-desktop"><a class="nav-link" href="./indsight">Insights</a></li>
                <li class="nav-item hide-desktop"><a class="nav-link" href="./snapshot">Snapshot of my industry</a></li>
                <!--li class="nav-item hide-desktop"><a class="nav-link" href="./business-cases">Business cases</a></li-->
                <li class="nav-item hide-desktop"><a class="nav-link" href="./barometer">Competition barometer</a></li>
                <li class="nav-item hide-desktop"><a class="nav-link" href="./best-practices">Best practices</a></li>
            </ul>
        </div>
    </nav>
</div>